.single-item-criteria-table {
    display: block;
    height: 100%;
    width: 90vw;
    padding-left: 65ex;
  }
  
//   .single-item-criteria-table-body {
//     display: block;
//     height: 70vh;
//     overflow: auto;
//     width: 100%;
//     padding-left: 50ex;
//   }
  
//   .single-item-criteria-table th {
//     width: 35vw;
//   }
  
//   .product-groups-table-body td {
//     width: 35vw;
//   }
  
//   .single-item-criteria-fixed-header thead {
//     background-color: #6f6f6f;
//     color: #0c0c0c;
//     text-align: center;
//     font-weight: bold;
//   }
  
//   .single-item-criteria-table tbody tr {
//     border-bottom: 1px solid #dddddd;
//   }
  
//   .single-item-criteria-table-body tbody tr:nth-of-type(even) {
//     background-color: #f3f3f3;
//   }
  